/* 説明用 div */
.info-box{
  width: 480px;
  margin: 20px auto;
  padding: 10px;

  border: 2px solid #888;
  border-radius: 8px;
  background: #ffffff;

  text-align: left;
}

/* メニュー用 div */
.menu-box{
  width: 480px;
  margin: 20px auto;
  padding: 10px;

  border: 2px solid #444;
  border-radius: 8px;
  background: #ffffff;

  text-align: left;
}

/* 通常のリンク */
.menu-box a {
  color: #0000ff; 
  text-decoration: none; /* 下線を消す場合 */
}

/* マウスを乗せたとき */
.menu-box a:hover {
  color: #d81b60; /* 少し目立つ色に */
  text-decoration: underline;
}

/* クリック中 */
.menu-box a:active {
  color: #ff0000;
}

/* 訪問済み */
.menu-box a:visited {
  color: #000000;
}

/* タイトル */
.menu-title{
  font-size: 1.5em;
}
