body {
  background-color:#fefefe;
  margin: 10px;
  line-height:1em;
}

header {
	background-color:#f0f0ff;
	border:solid 2px #d0d0ff;
	margin:0px 0px 20px 0px;
	padding:25px;
}
footer {
	background-color:#f0f0ff;
	border:solid 2px #d0d0ff;
	margin:20px 0px 0px 0px;
	padding:5px;
}

main {
	border:none;
  padding: 0 0 0 40px;  /* 左だけ20px */
	margin:0px;
}

main p {
  line-height: 1.8;
}

article {
	border:none;
	padding:0px;
	margin:0px 0px 10px 0px;
}

section {
	border:none;
	padding:0px;
	margin:0px 0px 10px 0px;
}

aside {
	border:none;
	border:solid 2px #d0d0ff;
	padding:0px;
	margin:0px 0px 10px 0px;
}

div {
  margin: 0px;
  padding: 0px;
  border: none;

}

div.flex {
  display:flex;
  flex-wrap:wrap;
  margin: 0px;
  padding: 0px;
  border: none;

}

div.grid {
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows:250px 250px 250px;
  gap:10px;
  margin: 0px;
  padding: 0px;
  border: none;

}

div.item {
  margin: 10px;
  padding: 5px;
  border: 1px blue solid;

}

p {
  margin: 0.5em;
}

a:hover{
  color:#0000ff;
}

a.menu:hover {
  color:#0000ff;
}
a.link {
	line-height:1.5em;
}
a.link:hover {
	color:#0000ff;
	text-decoration: underline;
}

a.back {
	color:#ffffff;
	background-color:#4040ff;
	border:solid 2px #2020ff;
	line-height:2em;
	padding:0.5em;
	margin:15px 0px 0px 0px;
	
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

h1 {
  font-size: 100%;
  line-height:100%
}
h2 {
  font-size: 180%;
  line-height:120%
}
h3 {
  font-size: 140%;
  line-height:120%
}
h4 {
  font-size: 120%;
  line-height:120%
}
h5 {
  font-size: 120%;
  line-height:110%
}
h6 {
  font-size: 110%;
  line-height:110%
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ol {
  margin: 0;
  padding: 0;
  list-style: decimal;
}

li {
  border: 1px gray solid;
  margin: 0em 0.5em 0em 0em;
  padding: 4px;
}

button,
input,
optgroup,
select,
textarea {
  margin:1px;
  padding:5px;
  border: solid 1px gray;
}
textarea {
  resize: both;
  width: 150px;
  height: 100px;
}

